@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/proximanova_light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/proximanova_regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/proximanova_bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/proximanova_boldit.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/proximanova_extrabold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/proximanova_black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/ProximaNova/proximanova_blackit.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

:root {
    /* шрифты проекта */
    --font-main: 'ProximaNova', sans-serif;

    /* цвета проекта */
    --honeydew: #e5f4e3;
    --argentinian-blue: #5da9e9;
    --marian-blue: #003f91;
    --white: #ffffff;
    --finn: #6d326d;

    --color1: #dfe1e2;
    --color2: #fff;
    --color3: #282a2b;
}

html {
    background-color: transparent;
    overflow-x: hidden;
}

body {
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    color: #717171;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.footer__wrapper {
    background-color: var(--color3);
    color: var(--color1);
}

.footer__link {
    color: var(--color1);
    text-decoration: none;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 14px;
}

.footer__link:hover {
    color: var(--color2);
}

.logo_footer {
    max-width: 240px;
    height: auto;
    transition: opacity 0.2s;
}

.logo_footer:hover {
    opacity: 0.7;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    padding: 0 0 3%;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 400;
    row-gap: 6px;
}

.footer__column_logo {
    display: flex;
    width: 30%;
}

.footer__column_contacts {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 500;
    width: 70%;
}

.footer__contacts-email {
    width: 50%;
}

.footer__contacts-phones {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    width: 50%;
}

.footer__widget {
    display: flex;
}

.footer__documents {
    display: flex;
    gap: 10px;
}

.footer__documents a:last-child::before {
    content: "|";
}

.icon {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30%;
}


/* Очень маленькие устройства (портретные телефоны, менее 576px) */
@media (max-width: 575.98px) {}

/* Маленькие устройства (горизонтальные телефоны, менее 768px) */
@media (max-width: 767.98px) {}

/* Средние устройства (планшеты, менее 992px) */
@media (max-width: 991.98px) {}

/* Большие устройства (десктопы, менее 1200px) */
@media (max-width: 1199.98px) {}

/* Очень большие устройства (большие десктопы, менее 1400px) */
@media (max-width: 1399.98px) {}